body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    position: relative;
    cursor: pointer;
    font-size: 300px;
    font-family: sans-serif;
    /* background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%); */
    /* background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */
    /* background: linear-gradient(96.2deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 105.8%); */
    /* background: linear-gradient(137.9deg, rgb(78, 156, 226) 7.8%, rgb(62, 146, 69) 16%, rgb(251, 220, 23) 32.7%, rgb(242, 160, 35) 50.4%, rgb(253, 12, 12) 71.5%, rgb(192, 26, 129) 83.1%); */
    background: -webkit-linear-gradient(0deg, rgb(255, 0, 123) 15%, rgb(164, 25, 190) 65%, rgb(123, 22, 218) 100%) text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.menu {
    background-color: #333;
    padding: 15px 0;
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.menu ul li {
    display: inline;
    position: relative;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu ul li a:hover {
    background-color: #555;
}


.controls {
    text-align: center;
    margin-top: 20px;
}

.record-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.record-button span {
    margin-right: 10px;
}

.menu ul li:not(:last-child) a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 80%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5); 
    transform: translateY(-50%);
}

