<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>About page</title>
</head>
<body>
    <nav class="menu">
        <ul>
            <div><li><a href="/">Home</a></li></div>
            <div><li><a href="/records">Records</a></li></div>
            <div><li><a href="/mail">Mail</a></li></div>
            <div><li><a href="/about">About</a></li></div>
        </ul>
    </nav>

    <h1 id="about-heading" class="abouth1">About</h1>
    
</body>
</html>