<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Mail page</title>
</head>
<body>
    <nav class="menu">
        <ul>
            <div><li><a href="/">Home</a></li></div>
            <div><li><a href="/records">Records</a></li></div>
            <div><li><a href="/mail">Mail</a></li></div>
            <div><li><a href="/about">About</a></li></div>
        </ul>
    </nav>

    <h1 id="mail-heading" class="mailh1">Mail</h1>

    <div class="search-container">
        <form method="POST">
            <input type="text" name="select_mail" id="reciever_mail" class="search-input" placeholder="e.g. john@gmail.com">
            <input type="text" name="select_id" id="id" class="search-input" placeholder="e.g. ID = 32">
            <button class="search-button" type="submit">Send Mail</button>
        </form>
    </div>

    <div id="update-container">
        {% if message %}
            <div class="message">{{ message }}</div>
        {% endif %}
    </div>

    <footer class="footer">
        <div>
            <p class="rights">&copy; All Rights Reserved By CodeWithAkshat.</p>
        </div>
        <div>
            <a href="https://github.com/akshat757" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i> Github
            </a>
        </div>
    </footer>
    
</body>
</html>