<!-- frontend/templates/records.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Records Page</title>
</head>
<body>
    <nav class="menu">
        <ul>
            <div><li><a href="/">Home</a></li></div>
            <div><li><a href="/records">Records</a></li></div>
            <div><li><a href="/mail">Mail</a></li></div>
            <div><li><a href="/about">About</a></li></div>
        </ul>
    </nav>


    <h1 id="records-heading" class="recordh1">Records</h1>

    <div class="search-container">
        <form method="POST">
            <select name="search_type" id="search_type" class="search-dropdown">
                <option value="word">Search by Word</option>
                <option value="date">Search by Date</option>
            </select>
            <input type="text" name="search_query" id="search_query" class="search-input" placeholder="e.g. hello">
            <button class="search-button">Search</button>
        </form>
    </div>
    <!-- Add content for your records page here -->
    <table class="records-container" border="1">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Recorded Text</th>
            <th>Summarized Text</th>
            <th>time of record</th>
            <th>duration of recording</th>

            <!-- Add more <th> elements if you have more columns -->
        </tr>
        {% for index in range(1, data|length + 1) %}
        <tr>
            <td>{{ index }}</td>
            <td>{{ data[index-1][0] }}</td>
            <td class="truncated-text">{{ data[index-1][1] | truncate(50) }}</td>
            <td class="full-text" style="display: none;">{{ data[index-1][1] }}</td>
            <td class="truncated-text">{{ data[index-1][2] | truncate(50) }}</td>
            <td class="full-text" style="display: none;">{{ data[index-1][2] }}</td>
            <td>{{ data[index-1][3] }}</td>
            <td>{{ data[index-1][4] }}</td>
            <!-- Repeat this line for each column -->
        </tr>
        {% endfor %}
    </table>

    <footer class="footer">
        <div>
            <p class="rights">&copy; All Rights Reserved By CodeWithAkshat.</p>
        </div>
        <div>
            <a href="https://github.com/akshat757" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i> Github
            </a>
        </div>
    </footer>

    <script>
        
        document.getElementById("search_type").addEventListener("change", function() {
            var searchType = this.value;
            var inputField = document.getElementById("search_query");
            if (searchType === "word") {
                inputField.placeholder = "e.g. hello";
            } else if (searchType === "date") {
                inputField.placeholder = "e.g. 2024-01-01";
            }
        });

        document.querySelectorAll('.truncated-text, .full-text').forEach(function (element) {
            element.addEventListener('click', function () {
                // Toggle display of truncated text and full text
                if (this.classList.contains('truncated-text')) {
                    // If clicked element is truncated text, hide it and show full text
                    this.style.display = 'none'; // Hide truncated text
                    this.nextElementSibling.style.display = 'table-cell'; // Show full text
                } else {
                    // If clicked element is full text, hide it and show truncated text
                    this.style.display = 'none'; // Hide full text
                    this.previousElementSibling.style.display = 'table-cell'; // Show truncated text
                }
            });
        });



        
    </script>

    <div class="pagination">
        <span class="pagination-text">Page {{ page }} of {{ total_pages }}</span>
        
        {% if page > 1 %}
            <a href="{{ url_for('records', page=page-1) }}" class="pagination-button">< Prev</a>
        {% else %}
            <span class="pagination-button disabled">Prev</span>
        {% endif %}
        
        {% if page < total_pages %}
            <a href="{{ url_for('records', page=page+1) }}" class="pagination-button">Next ></a>
        {% else %}
            <span class="pagination-button disabled">Next</span>
        {% endif %}
    </div>

</body>
</html>
